* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#game-container:hover {
    cursor: pointer;
}

.selected {
    box-shadow: 0px 0px 0px 10px black inset;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Here you should set what size you want your div to be
        when viewed on smartphone */
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}
