* {
    box-sizing: border-box;
}

body {
    font-family: Calibri;
}

#main-container {
    display: block;
    text-align: center;
}

#game-container {
    display: inline-block;
}

.selected {
    box-shadow: 0px 0px 0px 10px black inset;
}

.rotated {
    transform: rotate(180deg);
}

.center {
    /*margin: auto;*/
    /*display: inline-block;*/
}

.btn {
    padding: 30px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    width: 90%;
    margin: auto;
    font-size: 2.2em;
}

.btn:hover {
    cursor: pointer;
}

.green {
    background-color: #32a852;
}

.blue {
    background-color: #3283a8;
}

.blue:hover {
    background-color: #266582;
}

.green:hover {
    background-color: #227d3a;
}

.gameListing {
    border: 3px solid #949494;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 7px;
}

#game-key-container{
    font-size: 1.4em;
}

#messages {
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
}

#recently-started-games{
    margin-top: 5%;
}