* {
    box-sizing: border-box;
}

body {
    font-family: Calibri;
}

#main-container {
    display: block;
    text-align: center;
}

#game-container {
    display: inline-block;
    outline-style: none;
}


.selected {
    box-shadow: 0px 0px 0px 10px black inset;
}

.rotated {
    transform: rotate(180deg);
}

.rotatedNoneHack {
    transform: rotate(0deg);
}

.btn {
    padding: 30px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    width: 90%;
    margin: auto;
    font-size: 2.2em;
    margin-bottom: 15px;
}

.btn:hover {
    cursor: pointer;
}

.black {
    background-color: #575757;
    color: #fff;
}

.white {
    background-color: #fff;
    border: 3px solid #575757;
    color: #575757;
}


.gameListing {
    border: 3px solid #949494;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 7px;
}

#game-key-container{
    font-size: 1.4em;
    display: none;
}

#messages {
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
}

#recently-started-games{
    margin-top: 5%;
}

#header {
    text-align: center;
    color: #575757;
    font-size: 3.8em;
}

#recently-started-games {
    padding: 5%;
    font-size: 2em;
}

#recently-started-games:hover {
    cursor: pointer;
}

#black-captured-pieces,
#white-captured-pieces {
    overflow-wrap: break-word;
    font-size: 38px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1000px) {
    #game-container {
        max-width: 50%;
    }
}


@media screen and (min-width: 1000px) {
    #game-container:hover {
        cursor: pointer;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}